
/* ----------------------- BOXES ------------------------- */

.box {margin-bottom:41px;}

.box-head {
	color:#070707;
	font-size:22px;
	line-height:30px;
	padding: 1px 0 12px 47px;
	letter-spacing:-1px;
}
.box-head a {
	text-decoration:none;
	color:#070707;
}
.box-head a:hover {
	color:#69a7c9;
}

.box-body {}

.box-body ul {margin:0; padding:0; list-style:none;}
.box-body ul li {
	padding:0 0 0 48px;
}
.box-body ul li a {
	text-decoration:none;
	color:#575656;
	font-size:13px;
	line-height:24px;
	background:url(../images/marker1.gif) no-repeat left 5px;
	padding:0 0 0 13px;
}
.box-body ul li a:hover {
	color:#70b0d3;
}
.box-body ul li.category-products a:hover,
.box-body ul li .category-subs-parent-selected,
.box-body ul li .category-subs-selected{
	color:#70b0d3;
}
.box-body ul li.category-products{
	padding-left:65px!important;
}
.box-body ul li.category-products a{
	text-transform:lowercase;
}
.catDescContent{
	color:#fff;
}
.box-body ol {margin:0; padding:0; list-style:decimal inside;}
.box-body ol li {
	color:#070707;
	font-size:21px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	padding:0 0 0 44px;
	line-height:25px;
}
*+html .box-body ol li{
	line-height:28px;
	display:block;
}
.box-body ol li a {
	font-family:Arial, Helvetica, sans-serif;
	color:#575656;
	font-size:13px;
	line-height:25px;
	text-decoration:none;
}
*+html .box-body ol li a{
	padding-left:10px;
}
.box-body ol li a:hover {
	color:#68a1c1;
}


/* ----------------------- LISTING BOXES ------------------------- */


#categories {}


#moreinformation {}


#information {}


#bestsellers {}


#ezpages {}


#orderhistory {}
#orderhistory .box-body img {background:#FFFFFF; padding:2px; border:1px solid #AAAAAA; vertical-align:middle; margin:2px 0px 2px 0px;}
#orderhistory .no-bg{ background:none; padding:0;}
#orderhistory a{ display:inline;}
#orderhistory li a{
	padding:0;
	background:none;
}

/* ----------------------- BANNER BOXES ------------------------- */

#bannerbox {}

#bannerbox2 {}

#bannerboxall {}



/* ----------------------- PRODUCT BOXES ------------------------- */

#featured a img, 
#whatsnew a img, 
#specials a img, 
#reviews a img, 
#manufacturerinfo img, 
#productnotifications img {margin:0 0 8px;}

#reviews img {margin:5px 0 0;}



#featured {}
#featured .box-body{ text-align:center; }
#featured .box-body .name{
	display:inline-block;
	margin:12px 0;
}
#featured .box-body .name:hover{
	color:#5c97b6;
}
#featured .box-body .normalprice { color:#cccccc;
	font-size:19px;
	line-height:1.2em;
	font-weight:normal;}
#featured .box-body .productSpecialPrice, .productSalePrice, .productSpecialPriceSale {color:#0e0e0e;
	font-size:25px;
	line-height:1.2em;
	font-weight:normal;}


#whatsnew {}
#whatsnew .box-body{ text-align:center; }
#whatsnew .box-body .name{
	display:inline-block;
	margin:12px 0;
}
#whatsnew .box-body .name:hover{
	color:#5c97b6;
}
#whatsnew .box-body .normalprice {color:#cccccc;
	font-size:19px;
	line-height:1.2em;
	font-weight:normal;}
#whatsnew .box-body .productSpecialPrice, .productSalePrice, .productSpecialPriceSale {color:#0e0e0e;
	font-size:25px;
	line-height:1.2em;
	font-weight:normal;}


#specials {}
#specials .box-body{ text-align:center; }
#specials .box-body .name{
	display:inline-block;
	margin:12px 0;
}
#specials .box-body .name:hover{
	color:#5c97b6;
}
#specials .box-body .normalprice { color:#cccccc;
	font-size:19px;
	line-height:1.2em;
	font-weight:normal;}
#specials .box-body .productSpecialPrice, .productSalePrice, .productSpecialPriceSale {color:#0e0e0e;
	font-size:25px;
	line-height:1.2em;
	font-weight:normal;}


#reviews {}
#reviews .box-body{ text-align:center;}
#reviews .box-body a{ text-decoration:none;}
#reviews .box-body a:hover{
	color:#5c97b6;
}

#manufacturerinfo {}


#productnotifications {}
#productnotifications .box-body{ text-align:center;}




/* ----------------------- FORM BOXES ------------------------- */

#search {
}
#search .box-body{
	overflow:hidden;
}
#search input{ border:solid 0px; padding:0; background:none; vertical-align:middle; float:left;}
#search .input1{ border:solid 1px #cfcfcf; width:150px; padding:2px 3px; border-right:none; margin-left:45px;}


#manufacturers {}
#manufacturers .box-body {text-align:center;  padding: 0 20px;}


#currencies {}
#currencies .box-body {text-align:center; padding: 0 20px;}
#currencies select{ width:90%;}

#tellafriend {}
#tellafriend .box-body{ text-align:center;}
#tellafriend .no-border input{ border:solid 0px; padding:0; }

#recordcompanies {}
#recordcompanies .box-body {text-align:center;}


#musicgenres {}
#musicgenres .box-body {text-align:center;}



/* ----------------------- TEXT BOXES ------------------------- */

#languages {}
#languages .box-body {text-align:center;}


#whosonline {}
#whosonline .box-body {text-align:center;}


#documentcategories {}


#shoppingcart {}
#shoppingcart .cart_line {}
#shoppingcart #cartBoxEmpty {text-align:center;}
#shoppingcart li a{
	background:none;
	padding:0;
}