

/*  --------------------------------------------------------------------  */

font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; {font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px;}
#4a4a4a {color:#4a4a4a;}

outline:none; text-decoration:underline; {outline:none; text-decoration:underline;}
#000 {color:#000;}

  {font-size:17px; text-decoration:none; line-height:20px; font-weight:bold;}
color:#66a4c5; {color:#66a4c5;}

color:#0e0e0e;
	font-size:25px;
	line-height:1.2em;
	font-weight:normal; {color:#0e0e0e;
	font-size:25px;
	line-height:1.2em;
	font-weight:normal;}

color:#070707;
	font-size:22px;
	line-height:30px;
	padding: 5px 0 0 0px;
	letter-spacing:-1px;
	margin-bottom:15px; {color:#070707;
	font-size:22px;
	line-height:30px;
	padding: 5px 0 0 0px;
	letter-spacing:-1px;
	margin-bottom:15px;}

font-size:12px; font-weight:normal; background:#fafafa; color:#000; {font-size:12px; font-weight:normal; background:#fafafa; color:#000;}
#000 {color:#000;}

/*  --------------------------------------------------------------------  */

/* CSS Document */

* { margin:0; padding:0;}
body { background:#f6f6f6; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; color:#4a4a4a;}
table, td {border-collapse:collapse; font-size:100%;}
table, td, img {border:0;}
form, td {margin:0; padding:0;}
td { vertical-align:top; text-align:left;}
.extra{
	width:100%;
	overflow:hidden;
	background:url(../images/body-bg.gif) repeat-x left top #fff;
	padding-bottom:74px;
}
.main-width { width:940px; margin:0 auto; text-align:left;}

input, textarea { font-family:Tahoma; font-size:1em;}

.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

img {vertical-align:top;}
a img { border:0;}
ul { list-style:none;}

.alignright { text-align:right;}
.aligncenter { text-align:center;}

.wrapper{ width:100%; overflow:hidden;}
.container { width:100%;}
.column-1, .column-2, .column-3{ float:left;}

a {color:#000; outline:none; text-decoration:underline;}
a:hover{text-decoration:none;}
p { margin:0; padding:0;}

#advSearchResultsDefault form{
	margin-bottom:10px;
	display:block;
	overflow:hidden;
}
#popupSearchHelp{
	padding:0;
}
.centeredContent .inp1 input{
	width:300px;
}
.productListing-data .normalprice{
	display:block;
}
/* ============================= header ====================== */
#header{
	position:relative;
}
#header .logo{
	float:left;
	padding:35px 0 0 7px;
}
#header .right-head{
	float:right;
	text-align:right;
}
#header .currencies{
	float:left;
	color:#656565;
	font-size:13px;
	line-height:15px;
	position:absolute;
	right:-1px;
	top:25px;
	z-index:510;
	text-align:left;

}
#header .currencies .select.jqTransformHidden{
	display:none;
}
#header .currencies .label{
	float:left;
	margin-right:-2px;
	margin-top:-6px;
	color:#464545;
	font-size:13px;
	line-height:29px;
}
#header .currencies .jqTransformSelectWrapper{
	background:url(../images/cur-arrow.gif) no-repeat right top;
	border:none;
	float:left;
	width:95px!important;
	padding: 0 0 0 0;
	cursor:default;
}
#header .currencies .jqTransformSelectWrapper div{
	height:24px!important;
	overflow:hidden;
	background:url(../images/cur-bg.gif) no-repeat left top;

}
#header .currencies .jqTransformSelectWrapper div span{
	font-size:11px;
	color:#a4a4a4;
	padding:2px 22px 0 9px;
	width:64px!important;
	height:18px!important;
	overflow:hidden;
	float:left;
}
*+html #header .currencies .jqTransformSelectWrapper div span{
	padding:2px 22px 0 8px;
}
@media \0screen {
	#header .currencies .jqTransformSelectWrapper div span{ padding:4px 22px 0 9px;}
}
#header .currencies ul{
	padding:0px 0 0 0;
	margin:0 0 0 0px;
	width:93px!important;
	height:77px!important;
	overflow:hidden;
	background:#fff;
	border:1px solid #e8e8e7;
}
#header .currencies ul li{
	line-height:11px;
	padding:1px 4px;
	overflow:hidden;
	width:95px!important;
}
#header .currencies ul li a{
	color:#a4a4a4;
	font-size:11px;
	line-height:13px;
	text-decoration:none;
	display:block;
}
#header .currencies ul li a:hover{
	text-decoration:underline;
}
#header .lang{
	position:absolute;
	top:27px;
	right:175px;
	overflow:hidden;
	height:15px;
	width:24px;
	border-left:1px dotted #999999;
	border-right:1px dotted #999999;
	padding: 0 8px;
}
*+html #header .lang img{
	margin:-2px 0 0 0;
}
#header .navigation{
	padding:62px 0 0 0;
	float:right;
}
#header .navigation a{
	color:#464545;
	font-size:12px;
	line-height:12px;
	text-transform:uppercase;
	text-decoration:none;
	float:left;
	background:url(../images/nav-line.gif) no-repeat left 4px;
	padding:0 0 0 11px;
	margin-left:8px;
}
#header .navigation a:hover{
	color:#5f9aba;
}
#header .navigation a.first{
	background:none;
}
#header .cart{
	color:#464545;
	font-size:13px;
	line-height:17px;
	/*padding:14px 0 0 0; */
}
#header .cart a{
	color:#464545;
	text-decoration:none;
	font-weight:bold;
}
#header .cart .st1{
	text-decoration:underline;
	font-weight:normal;
}
#header .cart .st1:hover{
	text-decoration:none;
	color:#464545;
}
#header .cart a:hover{
	color:#5f9aba;
}
#header .box1{
	margin-bottom:18px;
}
#header .menu{
	background:url(../images/menu-bg.gif) repeat-x left top;
	overflow:hidden;
	width:100%;
	border-radius:12px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	position:relative;
	/* height:62px; */
}
#header .menu ul{
	padding:21px 0 22px 32px;
	margin:0;
	overflow:hidden;
}
*+html #header .menu ul{
	padding-top:17px;
}
#header .menu ul li{
	float:left;
	display:block;
	background:url(../images/menu-line.gif) no-repeat left 4px;
	margin:0 25px 0 0px;
	padding:0 0 0 27px;
}
#header .menu ul li:first-child{
	padding:0;
	background:none;
}
#header .menu ul li a{
	color: white;
	display:block;
	font-size:19px;
	line-height:24px;
	text-decoration:none;
	/*letter-spacing:-1px;	*/
	letter-spacing:1px;
}



#header .menu li a .cufon.cufon-canvas{
	display:none!important;
}
#header .menu li a span span{
	display:block!important;
}
#header .menu li a span span .cufon.cufon-canvas{
	display:block!important;
	float:left!important;
}
/* ============================= content ===================== */

.name{ font-size:17px; text-decoration:none; line-height:20px; font-weight:bold;}
.name:hover{ color:#66a4c5;}
#indexDefault #featuredProducts .centerBoxHeading{
	display:none;
}
#contentMainWrapper{
	margin:36px 0 0 0;
}
#column-left{
	padding: 0 20px;
}
#column-center{
}
.vLine{
	background:url(../images/vline.gif) repeat-y left top;
}
.hLine{
	background:url(../images/hline.gif) repeat-x left top;
}
.product-col{
	width:302px!important;
	overflow:hidden;
	padding:26px 0px 31px 7px;
}
.vLine .product-col{
	width:274px!important;
}
.product-col .img{
	float:left;
	background:#fff;
	border:1px solid #edecec;
	text-align:center;
	padding:2px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	position:relative;
	margin-right:33px;
}
.product-col .img:hover{
	border:1px solid #5d99b8;
}
.product-col .prod-info{
	float:left;
	width:125px;
	overflow:hidden;
	padding:3px 0 0 0; 
}
*+html .product-col .prod-info{
	padding:0 0 0 0;
}
.vLine .product-col .img{
	margin-right:32px;
}
.vLine .product-col .prod-info{
	width:98px;
}
.product-col .name{
	color:#6b6b6b;
	font-size:20px;
	line-height:23px;
	font-weight:normal;
	text-decoration:none;
	letter-spacing:-1px;
}
.product-col .name:hover{
	color:#5d99b8;
}

.product-col .price{
	padding:19px 0 20px 0;
}
*+html .product-col .price{
	padding:12px 0 19px 0; 
}
.product-col .button{
	padding:0 0 0 1px;
}
.price{
	color:#0e0e0e;
	font-size:25px;
	line-height:1.2em;
	font-weight:normal;
}
#newProductsDefaultHeading{
	color:#070707;
	font-size:22px;
	line-height:30px;
	padding: 5px 0 0 0px;
	letter-spacing:-1px;
	margin-bottom:15px;
}

.hid{
	height:5px;
	width:635px;
	background:#fff;
	margin-bottom:-5px;
	position:absolute;
}
/* ============================= footer ====================== */
#footer{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	background:url(../images/footer-bg.gif) repeat-x left top #f6f6f6;
	padding:18px 0 22px 0;
}
#footer .bot{
	position:relative;
	top:-6px;
	padding-left:1px;
}
*+html #footer .bot{
	top:6px;
}
#footer .flogo{
	float:left;
}
#footer .copyright{
	float:left;
	padding: 1px 0 0 7px;
	color:#4e4e4e;
	font-size:15px;
	line-height:36px;
}
#footer .copyright a{
	color:#4e4e4e;
	text-decoration:none;
}
#footer .copyright a:hover{
	text-decoration:underline;
}
#footer .cards{
	float:left;
	padding:12px 0 0 17px; 
}


/* ============================= forms ======================= */
input, select, textarea{ font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:normal; color:#010101; border:solid 1px #e3e3e3; padding:2px; background:#fdfdfd;}
input:focus, select:focus, textarea:focus{outline:none;}
.cartRemoveItemDisplay input,
#gender-female, #gender-male, #newsletter-checkbox, #email-format-text, #email-format-html, #rating-1, #rating-2, #rating-3, #rating-4, #rating-5, #pmt-linkpoint_api, #pmt-moneyorder, #pmt-paypal, #pmt-cod, #notify-0{ border:none!important;}
#rating-1, #rating-2, #rating-3, #rating-4, #rating-5{margin:2px 4px 0 8px;}
#globalnotify, #pmt-cod, #pmt-moneyorder, #ship-flat-flat, #ship-item-item, #ship-storepickup-storepickup, #gender-male, #gender-female, #email-format-html, #email-format-text, #newsletter{border:none!important;	position:relative; top:2px;}
#primary{ margin-left:10px;	position:relative; top:2px; border:none!important;}
#disc-ot_coupon{margin:5px 0 0 0;}


.slider{ padding:57px 0 0px 3px; width:940px; height:403px; overflow:hidden; }
.roundabout-holder  { height:365px; margin:0 0 0 12px; padding:0;}
.roundabout-moveable-item {
	   height: 419px;
	   width: 222px;
	   cursor: pointer;
	   position:relative;
}
.roundabout-in-focus { cursor: auto;  }

.roundabout-moveable-item img {
	display:block;
	height:100%;
	width:100%;
}
.bot-banners{
	width:944px;
	overflow:hidden;
	padding:0 0 0 6px;
}
.bot-banners div{
	float:left;
}
#bannerThree{
	margin:0 16px 0 16px;
}

#triptych-wrapper{width: 940px; overflow: hidden; padding: 0 0 0 0px;}
#triptych-wrapper div {float: left;}
#triptychTwo {margin: 0 16px 0 16px;}
#triptychOne, #triptychTwo, #triptychThree{width:auto;}

#block-system-main-menu{background: url(../images/menu-bg.gif) repeat-x left top; overflow: hidden; width: 100%; border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px; position: relative; height: 62px}
#block-system-main-menu ul.menu{padding: 21px 0 22px 32px; margin: 0; overflow: hidden;}
#block-system-main-menu ul.menu li {float: left; display: block; background: url(../images/menu-line.gif) no-repeat left 4px; margin: 0 18px 0 0px; padding: 0 0 0 18px;}
#block-system-main-menu ul.menu li:first-child {padding: 0; background: none; }
#block-system-main-menu ul.menu li a{ color: white; display: block; font-size: 19px; line-height: 24px; text-decoration: none; letter-spacing: 1px;}
#block-system-main-menu ul.menu li a.active{color: #5f9aba;}
#block-system-main-menu ul.menu li.active a:hover{color: #5f9aba;}
#block-system-main-menu ul.menu li a:hover{color: #5f9aba;}

div.region-header{float: left; color: #656565; font-size: 13px; line-height: 15px; position: absolute; right: -1px; top: 25px; text-align: left;}
div.region-header div.block-search{float:right;}
#header div.region-header div.block-menu div.content ul.menu {background: none; list-style:none; margin-right: 0px;}
#header div.region-header div.block-menu div.content ul.menu li {list-style:none; float:left; background: url(../images/nav-line.gif) no-repeat left 4px; padding: 0 0 0 11px; margin-left: 8px;}
#header div.region-header div.block-menu div.content ul.menu li.first{background:none;}
#header div.region-header div.block-menu div.content ul.menu li a {color: #464545; font-size: 12px; line-height: 12px; text-transform: uppercase; text-decoration: none;}

#contentWrapper{margin: 36px 0 0 0;}
#sidebar-first{float:left; width:280px; padding: 0 20px;}
#content{float:left; width: 620px;}
h1#page-title{clear: both; color: #070707; font-size: 22px; line-height: 30px; padding: 5px 0 0 0px; letter-spacing: -1px; margin-bottom: 15px;}

div.news-title a{font-weight:bold; text-decoration:none}
div.news-title a:hover{font-weight:bold; text-decoration:underline; margin-bottom: 15px;}

div.field-name-field-image-news{float:left;}
div.news-image-wrapper{float:left;margin: 0 10px 0 0;}
div.news-image-field{float:left; display: inline-block; border: solid 1px #eceaea; border-radius: 10px; -moz-border-radius: 10px; padding: 2px; position: relative;}


ul.pager li{display: inline-block; background: #e8e8e7; padding: 5px 10px; color: #3e3e3e; border-radius: 10px; -moz-border-radius: 10px; text-decoration: none;position: relative;}




div.region-sidebar-first div#block-menu-menu-taxonomy-menu div.content ul.menu{margin: 0; padding: 0; list-style: none;}
div.region-sidebar-first div#block-menu-menu-taxonomy-menu div.content ul.menu li{padding: 0 0 0 0;  list-style: none;}
div.region-sidebar-first div#block-menu-menu-taxonomy-menu div.content ul.menu li a{text-decoration: none; color: #575656; font-size: 13px; line-height: 24px; background: url(../images/marker1.gif) no-repeat left 5px;padding: 0 0 0 13px; }
div.region-sidebar-first div#block-menu-menu-taxonomy-menu div.content ul.menu li a:hover{color: #70b0d3;}
div.region-sidebar-first div#block-menu-menu-taxonomy-menu div.content ul.menu li.active-trail a.active-trail{color: #70b0d3;}
div.region-sidebar-first div#block-menu-menu-taxonomy-menu div.content ul.menu ul li{padding:0 0 0 15px;}

div.region-sidebar-first div#block-menu-menu-taxonomy-menu h2{font-size:22px;}


div.view-new-product div.view-content{padding: 0 2px 0 0;}
div.view-new-product div.views-row{float:left; width:48%; padding:20px 0px 20px 0px;}
div.view-new-product div.views-row-even{background: url(../images/hline.gif) repeat-x left top; padding-left:20px;}

div.view-new-product div.new-product-title a{text-decoration: none; color: #6b6b6b; font-size: 13px; font-weight:bold;}
div.view-new-product div.new-product-title a:hover{color: #70b0d3;}

div.view-new-product div.new-product-image{width:128px; float:left; margin:0px;}
div.view-new-product div.new-product-image img{float:left; float:left; background:#fff; border:1px solid #edecec; text-align:center; border-radius:8px;	-moz-border-radius:8px;	-webkit-border-radius:8px;	position:relative;	}
div.view-new-product div.new-product-image img:hover{border:1px solid #5d99b8;}

div.view-new-product div.new-product-price{padding-top:20px; font-size:20px; font-weight:bold;}

div.view-new-product div.new-product-link{padding-top:20px;}

div.view-new-product div.wrapper{width: 40%; float: left; margin: 0px; padding-left: 45px; padding-top: 20px;}

div.hLine {background: url(../images/hline.gif) repeat-x left top;}

div#first-time{display:none;}

#block-block-2{float: right;}

div#block-uc-ajax-cart-delta-0 h2{display:none;}

/*div.messages.error{display:none;visibility:hidden;}*/