/**
 * @copyright Copyright 2010 Glenn Herbert
 * @license http://www.gnu.org/licenses/ GNU Public License V3.0
 * /includes/templates/your_template/css/stylesheet_ezpages_footer_columns.css
 * Ezpages Footer Columns by Glenn Herbert (gjh42) 2010-12-08
 */
 
#navSupp {
	padding: 0 0 0px 6px;
}


.ezpagesFooterCol {float: left; padding: 0;}

.ezpagesFooterCol h4 {color: #996633; text-align: center;}

.ezpagesFooterCol ul {float: left; margin: 0; padding: 0;}

#navSupp .ezpagesFooterCol li {display: block; text-align: left;}

#navSupp .ezpagesFooterCol a { font-weight: normal; text-decoration:none; font-size:15px; line-height:36px; color:#4e4e4e; background:url(../images/footer-marker.gif) no-repeat left 8px; padding:0 0 0 41px; margin-left:28px;}
#navSupp .ezpagesFooterCol a:hover{ text-decoration:underline;}

#navSupp a.activeEZPage, #navSupp a.activeILPage { text-decoration:underline;}

.ezpagesFooterCol a:hover {text-decoration: underline; color: #00aa44;}

#navSupp .col1 ul {border: none;}

.ezpagesFooterColComment { color: #aabbcc; display: block;}
.ezpagesFooterCol{
	width:auto!important;
}
.ezpagesFooterCol.col1 a{
	background:none!important;
	padding:0 0 0 0!important;
	margin:0 0 0 0!important; 
}
